.messages {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  p {
    width: 400px;
    text-align: center;
    margin-bottom: 20px;

    .number {
      font-weight: 900;
    }

    .wrong {
      color: var(--blue);
    }
  }

  .code {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;

    .input {
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px 20px;
      width: 100px;
      border-top: none;
      border-left: none;
      border-right: none;
      border-bottom: 1.5px solid var(--teal-green);
      margin-bottom: 20px;
    }
  }

  h4 {
    margin-bottom: 20px;
  }

  button {
    padding: 10px 20px;
    text-transform: uppercase;
    background-color: var(--teal-green);
    border: none;
    border-radius: var(--border-radius);
    margin-bottom: 15px;
  }
}
