.profile {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  h3 {
    margin-top: 20px;
    text-transform: capitalize;
    color: var(--teal-green);
    font-size: 20px;
    margin-bottom: 20px;
  }

  p {
    width: 400px;
    font-size: 15px;
    text-align: center;
    font-weight: 400;
    margin-bottom: 20px;
  }

  .camera {
    font-size: 100px;
    padding: 15px;
    background-color: var(--light-gray);
    border-radius: 50%;
    color: var(--dark);
    margin-bottom: 20px;
  }

  .namearea {
    display: flex;
    align-items: center;
    justify-content: center;

    input {
      height: 50px;
      margin-right: 20px;
      border-top: none;
      border-left: none;
      border-right: none;
      border-bottom: 1.8px solid var(--teal-green);
      padding: 10px 20px;
    }

    label {
      font-size: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  button {
    padding: 10px 20px;
    text-transform: uppercase;
    background-color: var(--teal-green);
    border: none;
    border-radius: var(--border-radius);
    margin-bottom: 15px;
    position: absolute;
    bottom: 30px;
  }
}
