.text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 40px;

  h3 {
    font-size: 26px;
    text-transform: capitalize;
    color: var(--teal-green);
    margin-bottom: 30px;
  }

  p {
    font-size: 18px;
    text-transform: capitalize;
    margin-bottom: 15px;
  }

  span {
    font-size: 18px;
    color: var(--blue);
    margin-bottom: 30px;
  }
}

.inputarea {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  p {
    margin-top: 30px;
    font-size: 15px;
    color: var(--dark);
  }

  button {
    margin-top: 60px;
    padding: 10px 20px;
    text-transform: uppercase;
    background-color: var(--teal-green);
    border: none;
    border-radius: var(--border-radius);
  }
}
