.welcome {
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--light);

  .heading {
    margin: 40px 0;

    h3 {
      font-size: 35px;
      color: var(--teal-green);
    }
  }

  .image {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      height: 200px;
      width: 200px;
      object-fit: contain;
      border-radius: 50%;
      margin-bottom: 40px;
    }
  }

  .text {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p {
      font-size: 17px;
      margin-bottom: 30px;

      span {
        color: var(--blue);
      }
    }

    button {
      padding: 10px 20px;
      text-transform: uppercase;
      background-color: var(--teal-green);
      border: none;
      border-radius: var(--border-radius);
      color: var(--light);
      font-size: 18px;
    }
  }
}
