.textcontainer {
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;

  .iconarea {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    .callicon {
      font-size: 20px;
      color: var(--teal-green);
    }
  }

  .text {
    flex: 3;

    p {
      font-size: 14px;
      font-weight: 400;

      .span {
        font-weight: 300;
        color: #000;
        font-size: 15px;
      }
    }
  }
}
