.messagerecieve{
    background-color: var(--teal-green);
    width: fit-content;
    color: var(--light);
    padding: 10px;
    border-radius: var(--border-radius);
    margin-right: auto;
    margin-bottom: 10px;
}