.message{
    background-color: var(--light);
    width: fit-content;
    color: var(--dark);
    padding: 10px;
    border-radius: var(--border-radius);
    margin-left: auto;
    margin-bottom: 10px;
}